/* body {
  font-size: 150%;
} */

fieldset {
  margin-bottom: 1em;
}

legend {
  background-color: brown;
  color: aliceblue;
  padding: 0.3em 1em;
}


input[type="range"] {
  width: 80%;
  min-width: 129px;
}


label {
  white-space: nowrap;
  /* border: 1px solid red; */
  display: inline-block;
  /* margin-top: 2%; */
  padding: 10px;
  /* margin-right: 1em; */
  /* background-color: royalblue; */
  /* color: aliceblue; */
  /* line-height: 50px; */
  /* margin-right: 1em; */
  /* margin-bottom: 1em; */
  /* margin-top: 1em; */
}


