body,
select,
output {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 420px;
  margin: 0 auto;
  padding: 1em;
}

fieldset {
  margin-bottom: 1em;
  border-radius: 0.4em;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
}

select {
  width: 100%;
}

input[type='range'] {
  width: 100%;
}

label {
  white-space: nowrap;
  display: inline-block;
  padding: .25rem;
}

#session span {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  color: #333;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
}

#session .val1 {
  background-color: #ff9696;
}
#session .val2 {
  background-color: #ffc796;
}
#session .val3 {
  background-color: #fbff96;
}
#session .val4 {
  background-color: #c5ff96;
}
#session .val5 {
  background-color: #96ff9d;
}
